*{
    margin: 0;
    padding: 0;
}

body{
    background: #AED6F1;
}

h1{
    padding: 20px;
    color: hsl(209, 100%, 58%);

}

.add-elements {
    margin: 12px 0;
  margin-right: 10px;
}

input{
    padding: 6px 4px;
    width: 70%;
    border: none;
    border-radius: 4px;
    color: #201d1d;
}

.element-list{
    height: 550px;
    overflow-y: scroll;
}

ul{
    padding: 40px;
}

li{
    list-style: none;
    padding: 10px 5px;
    background-color: #fff;
    margin: 15px 0;
    border-radius: 3px;
    transition: .4s;
    margin-right: 50px;
    align-content: stretch;
}

button{
    padding: 3px 10px;
    background-color: grey;
    border: none;
    border-radius: 4px;
    color: #fafafa;
    margin-left: 10px;
    float: right;
    align-content: center;
}

.addbtn{
    padding: 6px 10px;
    background: grey;
    margin-right: 150px;
    border: none;
    border-radius: 4px;
    color: #fafafa;
}


.checked {
    text-decoration: line-through;
    background-color: #5DADE2 ;
}

.delete{
    text-align: justify;
    float: right;
    padding: 7px 14px;
    border: none;
    border-radius: 4px;
    color: #fafafa;
    margin-left: 10px;
    float: right;
    margin-top: -5px;
    position: relative
}
